<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kiosk_Assistant_2017.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Kiosk_Assistant_2017.My.MySettings>
            <setting name="touchscreenconfig_setting" serializeAs="String">
                <value />
            </setting>
            <setting name="internethelppath_setting" serializeAs="String">
                <value />
            </setting>
            <setting name="confighelpath_setting" serializeAs="String">
                <value />
            </setting>
            <setting name="loginhelppath_setting" serializeAs="String">
                <value />
            </setting>
            <setting name="watchdogexepath_setting" serializeAs="String">
                <value />
            </setting>
            <setting name="zamok1path_setting" serializeAs="String">
                <value />
            </setting>
            <setting name="zamok2path_setting" serializeAs="String">
                <value />
            </setting>
            <setting name="LApath_setting" serializeAs="String">
                <value />
            </setting>
            <setting name="processname_setting" serializeAs="String">
                <value />
            </setting>
            <setting name="assistantautostartpath_setting" serializeAs="String">
                <value />
            </setting>
        </Kiosk_Assistant_2017.My.MySettings>
    </userSettings>
</configuration>